################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESH.Log.Parser.Resources/bin/Debug
/.vs/LogParser/v14
/ESH.Log.Parser.Resources/obj/Debug
/ESH.Log.ParserEngine/bin/Debug
/ESH.Log.ParserEngine/obj/Debug
/LogParser/bin/Debug
/LogParser/obj/Debug
/Tests/ESH.Log.Parser.Engine.Tests/obj/Debug
/Tests/ESH.Log.Parser.Engine.Tests/bin/Debug
/.vs
/.vs
/.vs/LogParser/v15
/ESH.Log.Parser.Resources/obj/Release
/ESH.Log.ParserEngine/obj/Release
/LogParser/obj/Release
/Tests/ESH.Log.Parser.Engine.Tests/obj/Release
